In [1]:
from __future__ import absolute_import, division, print_function, unicode_literals

import numpy as np
import pandas as pd
import seaborn as sns

from matplotlib import pyplot as plt
from matplotlib import style

from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.naive_bayes import GaussianNB

%matplotlib inline
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
dftrain=pd.read_csv('/kaggle/input/titanic/train.csv')
dftest=pd.read_csv('/kaggle/input/titanic/test.csv')

data = [dftrain, dftest]

for dataset in data:
    dataset["Cabin_Type"]=dataset.Cabin.apply(lambda x: str(x)[0])
    dataset["Designation"]=dataset.Name.apply(lambda x: x.split(',')[1].split('.')[0])
    
dftrain.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Cabin_Type,Designation
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,n,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,C,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,n,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,C,Mrs
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,n,Mr

In [3]:
dftrain['Cabin_Type'].value_counts()

n    687
C     59
B     47
D     33
E     32
A     15
F     13
G      4
T      1
Name: Cabin_Type, dtype: int64

In [4]:
data = [dftrain, dftest]

ports={"S":np.random.rand(),"C":np.random.rand(),"Q":np.random.rand()}
genders={"male":np.random.rand(), "female":np.random.rand()}
cabin_types={"A":np.random.rand(),"B":np.random.rand(),"C":np.random.rand(),"D":np.random.rand(),
             "E":np.random.rand(),"F":np.random.rand(),"G":np.random.rand(),"H":np.random.rand(),}

for dataset in data:
    dataset["Embarked"]=dataset["Embarked"].map(ports)
    dataset["Sex"]=dataset["Sex"].map(genders)
    dataset["Cabin_Type"]=dataset["Cabin_Type"].map(cabin_types)

In [5]:
dftrain.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Cabin_Type,Designation
0,1,0,3,"Braund, Mr. Owen Harris",0.771585,22.0,1,0,A/5 21171,7.2500,NaN,0.217748,NaN,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0.398066,38.0,1,0,PC 17599,71.2833,C85,0.842022,0.125846,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",0.398066,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0.217748,NaN,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0.398066,35.0,1,0,113803,53.1000,C123,0.217748,0.125846,Mrs
4,5,0,3,"Allen, Mr. William Henry",0.771585,35.0,0,0,373450,8.0500,NaN,0.217748,NaN,Mr

In [6]:
mean=dftrain["Age"].mean()
std=dftrain["Age"].std()

#dftrain['Age']=

In [7]:
x_train=dftrain.drop(columns=['PassengerId','Survived','Ticket','Name','Cabin'])
y_train=dftrain['Survived']

x_train.head()

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Cabin_Type,Designation
0,3,0.771585,22.0,1,0,7.2500,0.217748,NaN,Mr
1,1,0.398066,38.0,1,0,71.2833,0.842022,0.125846,Mrs
2,3,0.398066,26.0,0,0,7.9250,0.217748,NaN,Miss
3,1,0.398066,35.0,1,0,53.1000,0.217748,0.125846,Mrs
4,3,0.771585,35.0,0,0,8.0500,0.217748,NaN,Mr

In [8]:
np.random.rand()

0.6727229588591045